.app {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: orange;
}

.app-main {
  flex-grow: 1;
}

.app-footer {
  background: white;
}
